<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
<td>
    <table class ="list" id="storeList">
        <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Blood Group</th>
            <th>Employee Mobile Number</th>
            <th>Employee EmailId</th>
            <th>Employee Aadhar Number</th>
            <th>Employee PanCard</th>
            <th>Employee Date Of Birth</th>
            <th>Employee Project</th>
            <th>Employee Date Of Joinning</th>
            <th>Employee Experience</th>
        </tr>
        </thead>
        <tbody>
        <tr></tr>

        </tbody>

    </table>
</td>
</body>
</html>