<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <!link rel="stylesheet" href="styles.css">
</head>
<body>
<h1><b>Employee Management </b></h1>
<table>
  <tr>
    <td>
      <form action="/trainer" method="post">
        <div>
          <lable for="firstName">Employee First Name</lable>
          <input type="text" name ="firstName" id="Employee First Name"><br>
        </div>
        <div>
          <lable for="lastName">Employee Last Name</lable>
          <input type="text" name ="lastName" id="Employee Last Name"><br>
        </div>
        <div>
          <lable for="mobileNumber">Employee MobileNumber</lable>
          <input type="number" name ="mobileNumber" id="Employee Mobile Number"><br>
        </div>
        <div>
          <lable for="email">Employee Email Id</lable>
          <input type="email" name ="email" id="Employee Email Id"><br>
        </div>
        <div>
          <lable for="aadharNumber">Employee AadharNumber</lable>
          <input type="number" name ="aadharNumber" id="Employee Aadhar Number"><br>
        </div>
        <div>
          <lable for="panCard">Employee PanCard</lable>
          <input type="text" name ="panCard" id="Employee PanCard"><br>
        </div>
        <div>
          <lable for="dateOfBirth">Employee Date Of Birth </lable>
          <input type="date" name ="dateOfBirth" id="Employee Date Of Birth"><br>
        </div>
        <div>
          <lable for="project">Employee Project</lable>
          <input type="number" name ="project" id="Employee Project"><br>
        </div>
        <div class ="form_action--button">
          <input type="submit" value="Submit"><br>
        </div>
        <div class ="form_action--button">

          <button>
            <a type="button" href="getEmployee.html"> EmployeeList</a>
          </button>
        </div>
      </form>

    </td>
  </tr>
</table>
</body>
</html>